/*Main navigation bar styling*/
#navbar{
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #F8F8F8;
  color:#00008B;
}

#info{
  Height: 300px;
}

/*Top quater of page styling*/
#Nashville{
  background-image: url(/images/skyl.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%, 50%;
  width: 100%;
  height: 300px;
  padding: 0px;
}

/*HOME PAGE STYLING*/
#homepg{text-align: center;}

/*Sticky Footer css*/
/** {
  margin: 0;
  padding: 0;
}*/
html, body {font-style: font-family: FontAwesome;
  height: 100%;
  background-color: #E6E6E6;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
.footer, .push {text-align: center;
  height: 4em;
}

.divborder{font-size: 17px;
  background-color: #A5CDEF;
    border: 4px solid #E6E6E6;
    opacity: .85;
    border-radius: 25px;
    padding: 20px;
    height: 350px;
}

.form-group{
  text-align: left;
  font-style: normal;
  font-family: sans-serif;
}

.getInv{
  border-radius: 25px;
  height: auto;
  background-color: #A5CDEF;
  opacity: .85;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
}
ul{
list-style-type: none;
}
#Con, #Dr, #En{
  text-align:justify;
  text-shadow: v-shadow;
}
#spon1{
  text-align: left;
}
#GI, #p2, #list-style-type{
  text-align: center;
}
#regpg{
  background-color: #A5CDEF;
}

#reg{
  text-align: center;
}
