.lobsta {
  font-family: 'Lobster', cursive;
  font-weight: 400;
}

/*Main navigation bar styling*/
#navbar{
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: #F8F8F8;
  color:#00008B;
}

#info{
  Height: 300px;
}

/*Top quater of page styling*/
#Nashville{
  background-image: url(/images/skyl.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%, 50%;
  width: 100%;
  height: 300px;
  padding: 0px;
}

#footer {
  height: 50px;
  background-color: #F8F8F8;
}

/*HOME PAGE STYLING*/
#homepg{text-align: center;}

/*Sticky Footer css*/
/** {
  margin: 0;
  padding: 0;
}*/
html, body {font-family: FontAwesome;
  height: 100%;
  background-color: #FEFCFF;
}
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}
#copywr{
  text-align: center;
}
.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}

.divborder{
  font-size: 17px;
  background-color: #A5CDEF;
  border: 4px solid #E6E6E6;
  opacity: .85;
  border-radius: 25px;
  padding: 10px;
  height: 350px;
}
#regis, #lrow{
  background-color: #A5CDEF;
}

#nashs{
  margin-left: 85px;
}
.Rdivborder, .Ldivborder{font-size: 17px;
  align-content: stretch|center|space-between;
  background-color: #F8F8F8;
  margin: 100px;
  border: 4px solid #E6E6E6;
  opacity: .85;
  border-radius: 25px;
  padding: 0px;
  height: 380px;
}

.form-group{
  align-content: stretch|center|space-between|space-between;
  font-size: 16px;
  color: #A9A9A9;
  text-align: left;
  font-style: normal;
  font-family: sans-serif;
}

.getInv{
  border-radius: 25px;
  height: auto;
  background-color: #A5CDEF;
  opacity: .85;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
}

#Con, #Dr, #En{
  text-align:justify;
  text-shadow: v-shadow;
}

#spon1{
  text-align: left;
}

#GI, #p2, #list-style-type{
  text-align: center;
}

#regpg{
  background-color: #A5CDEF;
}

#reg{
  text-align: center;
}

#remail, #rpass{
  margin-top: 20px;
}

.form-horizontal{
  margin-left: 150px;
}

#regbtn, #Licons{
  margin-bottom: 40px;
}

#Licons{
  margin-left: 150px;
}

#nashlogin{
  margin-left: 85px;
}

#lpass1{
  margin-right: 0px;
}

#investpage, #startpg{
  background-color: #A5CDEF;
}

/* Social Network Login */

@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* openwebicons */
[class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.login-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.login-input-pass {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.signup-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.signup-input-confirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.create-account {
  text-align: center;
  width: 100%;
  display: block;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-center{
  width: 50%;
  text-align: center;
  margin: inherit;
}

.social-login-btn {
  margin: 5px;
  width: 20%;
  font-size: 250%;
  padding: 0;
}

.social-login-more {
  width: 45%;
}

.social-google {
  background-color: #da573b;
  border-color: #be5238;
}

.social-google:hover{
  background-color: #be5238;
  border-color: #9b4631;
}

.social-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}

.social-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}

.social-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}

.social-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}

.social-linkedin {
  background-color: #4875B4;
  border-color: #466b99;
}

.social-linkedin:hover {
  background-color: #466b99;
  border-color: #3b5a7c;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
