<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <form class="form-horizontal">
          <fieldset>

          <!-- Form Name -->
          <legend>Add New Startup</legend>

          <!-- Multiple Checkboxes (inline) -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="investor_industry">Industries</label>
            <div class="col-md-4">
              <label class="checkbox-inline" for="investor_industry-0">
                <input type="checkbox" name="investor_industry-0" id="investor_industry-0" value="Healthcare" checklist-value="healthcare" checklist-model="startup.industry">
                Healthcare
              </label>
              <label class="checkbox-inline" for="investor_industry-1">
                <input type="checkbox" name="investor_industry-1" id="investor_industry-1" value="Music" checklist-value="music" checklist-model="startup.industry">
                Music
              </label>
              <label class="checkbox-inline" for="investor_industry-2">
                <input type="checkbox" name="investor_industry-2" id="investor_industry-2" value="eCommerce" checklist-value="ecommerce" checklist-model="startup.industry">
                eCommerce
              </label>
              <label class="checkbox-inline" for="investor_industry-3">
                <input type="checkbox" name="investor_industry-3" id="investor_industry-3" value="Fintech" checklist-value="fintech" checklist-model="startup.industry">
                Fintech
              </label>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="investor_name">Company Name</label>
            <div class="col-md-5">
            <input id="investor_name" name="investor_name" type="text" placeholder="Acme Technology, LLC" class="form-control input-md" required="" ng-model="startup.name">
            <span class="help-block">The full legal name of the investment entity.</span>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="investor_contact">Contact Person</label>
            <div class="col-md-5">
            <input id="investor_contact" name="investor_contact" type="text" placeholder="Anne Grose" class="form-control input-md" required="" ng-model="startup.contact">
            <span class="help-block">A good contact person for the entity.</span>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="investor_phone_no">Contact Phone Number</label>
            <div class="col-md-5">
            <input id="investor_phone_no" name="investor_phone_no" type="text" placeholder="(615) 555 - 5555" class="form-control input-md" required="" ng-model="startup.phone">
            <span class="help-block">A good phone number to reach the contact person.</span>
            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="investor_email">Contact Email</label>
            <div class="col-md-5">
            <input id="investor_email" name="investor_email" type="text" placeholder="anne@acmetech.com" class="form-control input-md" required="" ng-model="startup.email">
            <span class="help-block">A good email to reach the contact person.</span>
            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="submit"></label>
            <div class="col-md-4">
              <a id="cancel" name="cancel" class="btn btn-danger" href="/#/startups"><span class="glyphicon glyphicon-chevron-left"></span> Nevermind</a>
              <button id="submit" name="submit" class="btn btn-success" ng-click="addNewStartup()"><span class="glyphicon glyphicon-ok"></span> Submit</button>
            </div>
          </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
