<div ng-include src="'partials/navigation.html'" ng-controller="NavCtrl"></div>
<!-- Home page -->
<div class = "container" id="info">
  <div class="row">
    <div class="col-md-4">
      <h3>lskjdflj<h3>
        <ul class="fa-ul">
        <h4>Create</h4>
          <li>place holder</li>
          <li>place holder</li>
          <li>place holder</li>
        </ul>
    </div>

    <div class="col-md-4">
      <h3>lskjdflj<h3>
        <ul class="fa-ul">
        <h4>Create</h4>
          <li>place holder</li>
          <li>place holder</li>
          <li>place holder</li>
        </ul>
    </div>

    <div class="col-md-4">
      <h3>lskjdflj<h3>
        <ul class="fa-ul">
        <h4>Create</h4>
          <li>place holder</li>
          <li>place holder</li>
          <li>place holder</li>
        </ul>
    </div>
  </div>
</div>
