<div class = "container-fluid" id="info">
  <div class="row">
    <div id="Nashville"></div>
  </div>

  <div class="row">
    <div class="col-lg-4 divborder" >
        <h2 id="Dr"><i class="fa fa-road"></i>  Draw a Definitive Map</h2>
        <ul class="fa-ul">
        <li>Provide the definitive and most comprehensive guide to the industry</li>
        <li>Extend our editor network</li>
        <li>Build new tools and create comprehensive content in the startup industry.</li>
        </ul>
    </div>

    <div class="col-lg-4 divborder">
        <h2 id="Con"><i class="fa fa-users"></i>  Connect Key Players</h2>
        <ul class="fa-ul">
        <li>Create more connections within the industry.</li>
        <li>Jobs, services providers, entrepreneur resources.</li>
        <li>Locally sourced.</li>
        <br>
        </ul>
    </div>

    <div class="col-lg-4 divborder">
        <h2 id="En"><i class="fa fa-gears"></i>  Energize Nashville</h2>
        <ul class="fa-ul">
          <li>Actively support and promote the Nashville startup community.</li>
          <li>Fund local meetups groups.</li>
          <li>International visibility to local startups.</li>
          <li>Facilitate job creation, create new companies, invigorate existing ones.</li>
          <li>Attract capital and talent</li>
        </ul>
    </div>
  </div>
</div>
