<!-- <div ng-include src="'partials/navigation.html'" ng-controller="NavCtrl"></div> -->
<!-- Home page -->
<div class = "container-responsive" id="info">
  <div class="row">
    <div class="col-lg-4 divborder" >
        <h2 id="Dr"><i class="fa fa-road"></i>  Draw a Definitive Map</h2>
        <ul class="fa-ul">
        <li>Provide the definitive and most comprehensive guide to the industry</li>
        <li>Extend our editor network</li>
        <li>Build new tools and create comprehensive content in the startup industry.</li>
        </ul>
    </div>

    <div class="col-lg-4 divborder">
        <h2 id="Con"><i class="fa fa-users"></i>  Connect Key Players</h2>
        <ul class="fa-ul">
        <li>Create more connections within the industry.</li>
        <li>Jobs, services providers, entrepreneur resources.</li>
        <li>Locally sourced.</li>
        <br>
        </ul>
    </div>

    <div class="col-lg-4 divborder">
        <h2 id="En"><i class="fa fa-gears"></i>  Energize Nashville</h2>
        <ul class="fa-ul">
        <p>Actively support and promote the Nashville startup community.</p>
	       <li>Fund local meetups groups.</li>
	       <li>International visibility to local startups.</li>
	       <li>Facilitate job creation, create new companies, invigorate existing ones.</li>
		     <li>Attract capital and talent</li>

        </ul>
    </div>
  </div>
<div class = "container-fluid getInv">
    <div class="col-lg-12" >
      <h1 id="GI"><i class="fa fa-joomla"></i>  Get Involved</h1>
    </div>
    <h3 id="p2">We are currently looking for sponsors, key partners, editors and other startups lovers. Get in touch!<h3>
    <div class="col-lg-2"></div>
    <div class="col-lg-8 getIn" id="spon1" >
      <ul id="list-style-type">
      <h3>For sponsors that'll help invigorate the local efforts.</h3>
        <li>Support the Nashville community</li>
        <li>Become a partner</li>
        <li>Get involved!</li>
      </ul>
      <div class="col-lg-2"></div>
    </div>
  </div>
</div>
