<div ng-include src="'partials/navigation.html'" ng-controller="NavCtrl"></div>
<h2>Investors Page</h2>
<div class="bs-startup">
    <table class="table table-condensed table-hoover">
        <thead>
            <tr>
                <th>Business Industry</th>
                <th>Company Name</th>
                <th>Contact Name</th>
                <th>Phone Number</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Technology</td>
                <td>Give U Money</td>
                <td>T Dollar</td>
                <td>615-444-4444</td>
                <td>tdollar@mail.com</td>
            </tr>
            <tr>
                <td>Health Care</td>
                <td>ElderCare Res</td>
                <td>Jack Healthy</td>
                <td>615-777-2222</td>
                <td>eldercare@mail.com</td>
            </tr>
        </tbody>
    </table>
</div>
