<div ng-controller="AuthCtrl">
  <div class='row' id='regis'>
    <div class="col-lg-2"></div>
    <div class="col-lg-6 Rdivborder">
      <h1 id='nashs'><img src="images/guitar3.ico" height="62" width="62">Nash Startups List</h1>
      <br>
      <div class="registerPage">
        <form class="form-horizontal">
        Email Address:
        <div class="form-group">
          <div class="col-xs-6" id="remail1">
            <input type="email" class="form-control" ng-model="user.email">
          </div>
        </div>
        <br>
        Password:
        <div class="form-group">
        <div class="col-xs-6" id="rpass1">
          <input type="password" class="form-control" ng-model="user.password"></div>
        </div>
        <br>
        <footer class="clear-fixed">
          <button type="button"  id="regbtn"ng-click="register()" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Register
          </button>
        </footer>
       </form>
      </div>
    </div>
  </div>
</div>
