<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Startups <small>funded right here in Nashville, USA</small></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Business Industry</th>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Profile</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="startup in startups">
            <td>{{startup.industry}}</td>
            <td>{{startup.name}}</td>
            <td>{{startup.contact}}</td>
            <td>{{startup.phone_number}}</td>
            <td>{{startup.email}}</td>
            <td><a href="/#/startup/{{startup.$id}}">GO!</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <a name="submit" class="btn btn-success" href="/#/startups/add">Add new startup!</a>
</div>
