<div ng-include src="'partials/navigation.html'" ng-controller="NavCtrl"></div>
<h1>Start-up Companies</h1>
    <div class="bs-startup">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Business Industry</th>
                    <th>Company Name</th>
                    <th>Contact Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="startup in startups">
                <td>{{startup.industry}}</td>
                <td>{{startup.name}}</td>
                <td>{{startup.contact}}</td>
                <td>{{startup.phone_number}}</td>
                <td>{{startup.email}}</td>
              </tr>
            </tbody>
        </table>
    </div>
