<div class="container well">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h2>Startups <small>funded right here in Nashville, USA</small></h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Business Industry</th>
            <th>Company Name</th>
            <th>Contact Name</th>
            <th>Phone Number</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{startup.industry}}</td>
            <td>{{startup.name}}</td>
            <td>{{startup.contact}}</td>
            <td>{{startup.phone_number}}</td>
            <td>{{startup.email}}</td>
          </tr>
        </tbody>
      </table>

      <a class="btn btn-danger pull-right" ng-click="deleteStartup()"><span class="glyphicon glyphicon-remove"></span> Delete</a>
      <a class="btn btn-default pull-left" href="/#/startups"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
    </div>
  </div>
</div>
