<div ng-include src="'partials/navigation.html'" ng-controller="NavCtrl"></div>
<h1>Start-up Companies</h1>
    <div class="bs-startup">
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Business Industry</th>
                    <th>Company Name</th>
                    <th>Contact Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Technology</td>
                    <td>ABC 123 Company</td>
                    <td>John New</td>
                    <td>615-555-1234</td>
                    <td>johnNew@mail.com</td>
                </tr>
                <tr>
                    <td>Health Care</td>
                    <td>New You</td>
                    <td>Annie Healthy</td>
                    <td>615-999-1111</td>
                    <td>ahealthy@mail.com</td>
                </tr>
            </tbody>
        </table>
    </div>
